USE [master]
GO
/****** Object:  Database [Ecommerce_Analytics]    Script Date: 23-04-2026 12:51:40 AM ******/
CREATE DATABASE [Ecommerce_Analytics]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ecommerce_Analytics', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Ecommerce_Analytics.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ecommerce_Analytics_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Ecommerce_Analytics_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ecommerce_Analytics].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ecommerce_Analytics]
GO
/****** Object:  Table [dbo].[Fact_RFM]    Script Date: 23-04-2026 12:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_RFM](
	[CustomerID] [int] NOT NULL,
	[Recency] [int] NOT NULL,
	[Frequency] [int] NOT NULL,
	[Monetary] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Fact_RFM] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
